@font-face {
 font-family: "Gotham Ultra";
 src: url("fonts/Gotham/Gotham-Ultra.woff2") format("woff2");
}
@font-face {
    font-family: "Gotham Black";
    src: url("fonts/Gotham/Gotham-Black.woff2") format("woff2");
   }
@font-face {
    font-family: "Gotham Rounded Light";
    src: url("fonts/Gotham/gotham-rounded-light.woff2") format("woff2");
   }
@font-face {
    font-family: "Gotham Bold";
    src: url("fonts/Gotham/Gotham-Bold.woff2") format("woff2");
   }
@font-face {
    font-family: "Gotham Medium";
    src: url("fonts/Gotham/Gotham-Medium.woff2") format("woff2");
   }
@font-face {
    font-family: "Roboto Mono";
    src: url("fonts/RobotoMono/RobotoMono-Medium.ttf") format("truetype");
   }
