@font-face {
 font-family: "Gotham Ultra";
 src: url("fonts/Gotham/Gotham-Ultra.woff2") format("woff2");
}
@font-face {
    font-family: "Gotham Black";
    src: url("fonts/Gotham/Gotham-Black.woff2") format("woff2");
   }
@font-face {
    font-family: "Gotham Rounded Light";
    src: url("fonts/Gotham/gotham-rounded-light.woff2") format("woff");
   }
@font-face {
    font-family: "Gotham Bold";
    src: url("fonts/Gotham/Gotham-Bold.woff2") format("woff");
   }
@font-face {
    font-family: "Gotham Medium";
    src: url("fonts/Gotham/Gotham-Medium.woff2") format("woff");
   }
   

:root {
 --color-conduce-iris-blue: #00b0b9;
 --color-conduce-iris-blue-light: #5de2eb;
 --color-conduce-iris-blue-dark: #008089;
 --color-conduce-pear: #e0e721;
 --color-conduce-pear-light: #ffff60;
 --color-conduce-pear-dark: #aab500;
 --color-conduce-apple: #6cc24a;
 --color-conduce-apple-light: #9ff57a;
 --color-conduce-apple-dark: #389118;
 --color-conduce-crimson: #ce0037;
 --color-conduce-crimson-light: #ff5061;
 --color-conduce-crimson-dark: #950012;
 --color-background-dark: #2f2f2f;
 --color-background-light: #efefef;
 --color-text-dark: #212121;
 --color-text-light: #f3f3f3;
 --color-text-secondary: #757575;
 --color-primary: var(--color-conduce-iris-blue);
 --color-primary-light: var(--color-conduce-iris-blue-light);
 --color-primary-dark: var(--color-conduce-iris-blue-dark);
 --color-secondary: var(--color-conduce-pear);
 --color-secondary-light: var(--color-conduce-pear-light);
 --color-secondary-dark: var(--color-conduce-pear-dark);
 --color-divider: #bdbdbd;
 --font-monospace: 'Droid Sans Mono', monospace;
 --font-primary: 'Gotham Rounded Light', sans-serif;
}

body {
  font-family: var(--font-primary);
  color: var(--color-text-dark);
  background-color: var(--color-background-light);
}


h1,h2,h3,h4,h5,h6 {
}

h1 {
  font-family: 'Gotham Ultra';
}

h2 {
  font-family: 'Gotham Black';
}

h3 {
  font-family: 'Gotham Bold';
}

h4,
h5,
h6 {
  font-family: 'Gotham Medium';
}

.dark-theme {
  color: var(--color-text-light);
  background-color: var(--color-background-dark);
}

.light-theme {
  color: var(--color-text-dark);
  background-color: var(--color-background-light);
}

.mono-font {
  font-family: var(--font-monospace);
  /*
  font-feature-settings: 'tnum','lnum';
  -webkit-font-feature-settings: 'tnum','lnum';
  -moz-font-feature-settings: 'tnum','lnum';
  */
}

.palette-section {
  display: flex;
}

.notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.notification-default {
  background-color: var(--color-secondary-light);
  color: var(--color-text-dark);
}

.notification-top-right {
  position: fixed;
  top: 10px;
  right: 10px;
}

.color-swatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  height: 250px;
  width: 250px;
  font-family: var(--font-monospace);
}

.notification-icon {
  content: url(conduce-bug.svg);
  height: 24px;
  margin-right: 10px;
}

.data-point-icon {
  content: url(conduce-data-point.svg);
  height: 16px;
  margin-right: 10px;
}

.color-text-dark {
  background-color: var(--color-text-dark);
  color: white; 
}
.color-text-secondary {
  background-color: var(--color-text-secondary);
  color: white; 
}
.color-text-light {
  background-color: var(--color-text-light);
  color: black; 
}
.color-primary-dark {
  background-color: var(--color-primary-dark);
  color: var(--color-text-light);
}
.color-primary {
  background-color: var(--color-primary);
  color: var(--color-text-dark);
}
.color-primary-light {
  background-color: var(--color-primary-light);
  color: var(--color-text-dark);
}
.color-secondary-dark {
  background-color: var(--color-secondary-dark);
  color: var(--color-text-dark);
}
.color-secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-dark);
}
.color-secondary-light {
  background-color: var(--color-secondary-light);
  color: var(--color-text-dark);
}
.color-divider {
  background-color: var(--color-divider);
  color: var(--color-primary-text);
}
.color-iris-blue {
  background-color: var(--color-conduce-iris-blue);
  color: var(--color-text-dark);
}
.color-iris-blue-light {
  background-color: var(--color-conduce-iris-blue-light);
  color: var(--color-text-dark);
}
.color-iris-blue-dark {
  background-color: var(--color-conduce-iris-blue-dark);
  color: var(--color-text-light);
}
.color-pear {
  background-color: var(--color-conduce-pear);
  color: var(--color-text-dark);
}
.color-pear-light {
  background-color: var(--color-conduce-pear-light);
  color: var(--color-text-dark);
}
.color-pear-dark {
  background-color: var(--color-conduce-pear-dark);
  color: var(--color-text-dark);
}
.color-apple {
  background-color: var(--color-conduce-apple);
  color: var(--color-text-dark);
}
.color-apple-light {
  background-color: var(--color-conduce-apple-light);
  color: var(--color-text-dark);
}
.color-apple-dark {
  background-color: var(--color-conduce-apple-dark);
  color: var(--color-text-dark);
}
.color-crimson {
  background-color: var(--color-conduce-crimson);
  color: var(--color-text-light);
}
.color-crimson-light {
  background-color: var(--color-conduce-crimson-light);
  color: var(--color-text-dark);
}
.color-crimson-dark {
  background-color: var(--color-conduce-crimson-dark);
  color: var(--color-text-light);
}

.elevation-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.elevation-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.elevation-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.elevation-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.elevation-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.elevation-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}   
